BOT_GROUP_JID=
BOT_PREFIX=?
BOT_MIN_PLAYERS=5
BOT_NIGHT_DURATION=120s
BOT_DAY_DURATION=5m
BOT_NOMINATION_DURATION=60s
BOT_TRIAL_DURATION=60s
BOT_VOTING_DURATION=60s
BOT_DB_DRIVER=sqlite3
BOT_DB_DSN=file:mafia-bot.db?_foreign_keys=on
BOT_LOG_LEVEL=INFO
